/* Reset y configuración general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuración del fondo */
body {
    background-image: url(space.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Configuración de frase inicial que cubre la pantalla */
.frase {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 2cm;
    text-align: center;
    font-size: 100px;
    letter-spacing: 0.3cm;
    color: white;
    width: 100%;
    height: 460px;
}

/*==================*/
/* Configuración de imagen, datos de contacto y semblanza */
/*==================*/

/* Cuadro izquierdo de fondo */
.recuadro-izquierdo {
    float: left;
    margin-top: 10px;
    width: 300px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.6);
}

/*  Contenedor de imagen  */
.imagenPersonal {
    display: flex;
    width: 100%;
    justify-content: center;
}

/*  Dimensiones de la imagen  */
.imagenPersonal img {
    margin-top: 20px;
    height: 160px;
    width: 125px;
    align-items: center;
    border-radius: 40%;
}

/*  Cuadro de nombre */
.nombre {
    margin-top: 25px;
    margin-left: 25px;
    height: 90px;
    width: 250px;
    color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
    font-weight: bold;
    line-height: 1.5;
}

/*  Cuadro datos de contacto */
.datos-contacto {
    text-align: center;
    margin-top: 5px;
    margin-left: 25px;
    height: 270px;
    width: 250px;
}

/* Cuadro derecho de fondo */
.recuadro-derecho {
    float: right;
    margin-top: 10px;
    width: 1005px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.6);
}

/*  Primer cuadro de texto  */
.cuadro-texto1 {
    color: white;
    font-size: 22px;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    width: 455px;
    height: 550px;
}

/*  Segundo cuadro de texto  */
.cuadro-texto2 {
    color: white;
    font-size: 22px;
    float: right;
    margin-top: 40px;
    margin-right: 30px;
    width: 455px;
    height: 540px;
}

/*==================*/
/* Configuración de aptitudes y habilidades */
/*==================*/

/* Primer cuadro de titulo */
.banner-aptitudes {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    float: left;
    margin-top: 65px;
    margin-left: 16%;
    width: 300px;
    height: 90px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

/* Segundo cuadro de titulo */
.banner-habilidades {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    float: right;
    margin-top: 65px;
    margin-right: 18%;
    width: 300px;
    height: 90px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

/* Cuadro de texto izquierdo*/
.cuadro-aptitudes {
    color: white;
    float: left;
    margin-top: 10px;
    margin-left: 6%;
    width: 550px;
    height: 400px;
    font-size: 28px;
    text-align: center;
}

/* Cuadro de texto derecho*/
.cuadro-habilidades {
    color: white;
    float: right;
    margin-top: 10px;
    margin-right: 6%;
    width: 550px;
    height: 410px;
    font-size: 28px;
    text-align: center;
}

/*==================*/
/* Configuración de certificados */
/*==================*/

/* Titulo de certificados */
.banner-certificados {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    float: left;
    margin-top: 20px;
    margin-left: 31%;
    width: 520px;
    height: 95px;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

/* CARRUSEL DE CERTIFICADOS */
/*Contenedor primario de imagenes*/
.slide {
    float: left;
    justify-items: center;
    width: 100%;
    height: 525px;
    margin-top: 10px;
}

/*Contenedor secundario de imagenes*/
.slide-inner {
    justify-items: center;
    position: relative;
    overflow: hidden;
    width: 815px;
    height: 500px;
}

.slide-open:checked+.slide-item {
    opacity: 1;
}

/*Configuración del contenedor de las imagenes*/
.slide-item {
    position: absolute;
    justify-items: center;
    opacity: 0;
    transition: opacity .4s ease-out;
}

/*Configuración de tamaño de las imagenes*/
.slide-item img {
    display: flex;
    height: 500px;
    width: 710px;
}

.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.slide-control.prev {
    left: 1%;
}

.slide-control.next {
    right: 1%;
}

.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

/* Se declaran la cantidad de imagenes que se van a mostrar*/
#slide-1:checked~.control-1,
#slide-2:checked~.control-2,
#slide-3:checked~.control-3, 
#slide-4:checked~.control-4,
#slide-5:checked~.control-5,
#slide-6:checked~.control-6,
#slide-7:checked~.control-7,
#slide-8:checked~.control-8{
    display: block;
}

.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}

/*====================*/
/* El siguiente código comentado sirve para colocar puntos que muestren cuántas imagenes se van a visualizar en total
y cuál es la que se está viendo actualmente */
/*====================*/

/*
Se declara la clase circulo con todas las propiedades para mostrar la posición de la imagen mostrada
.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}


Propiedad del color de los círculos cuando se coloca el cursor sobre ellos
.slide-circulo:hover {
    color: #aaaaaa;
}


Se declaran la cantidad de circulos que se van a mostrar

Este último código también se modifica si se quieren añadir más puntos en caso de agregar más imagenes
#slide-1:checked~.control-1~.slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked~.control-2~.slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked~.control-3~.slide-indicador li:nth-child(3) .slide-circulo, 
#slide-4:checked~.control-4~.slide-indicador li:nth-child(4) .slide-circulo{
    color: #428bca;
}
*/